.your-loan-applications-wrapper {
  width: 70em;
  margin: auto;
}

.mat-button {
  color: #fff;
  background: #005fa3;
  border-radius: .4rem;
  border-style: solid;
  border-width: .1rem;
  border-color: #005fa3;
}

.mat-action-row{
  justify-content: unset;
}

.DOCUMENT_FOR_DOWNLOAD {
  background-color: #dcefd3;
}

.BANK_REFUSAL {
  background-color: palevioletred;
}

.IN_PROGRESS {
  background-color: #fffab7;
}

.status-field {
  width: 15em;
  padding: 1em;
}
