.check-of-finance-wrapper {
  width: 70em;
  margin: auto;
}

table {
  width: 100%;
}

.mat-column-status {
  font-weight: bold;
}

.filter {
  font-size: 20px;
  width: 100%;
}

.customer-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 15em;
}

.actions-wrapper {
  display: flex;
}

.actions-wrapper button {
  margin-right: 1em;
  color: #fff;
}

.confirm {
  background-color: green;
}

.decline {
  background-color: red;
}

